TayaIT.Enterprise.EMadbatah.BLL/Service References/EPServiceClient/EPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EPService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10001/EPService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10001/EPService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10001/EPService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEPService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IEPService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IEPService_GetEParlimentSessionDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEParlimentSessionDetails" />
  </wsdl:message>
  <wsdl:message name="IEPService_GetEParlimentSessionDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEParlimentSessionDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IEPService_UpdateEParlimentSessionDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEParlimentSessionDetails" />
  </wsdl:message>
  <wsdl:message name="IEPService_UpdateEParlimentSessionDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEParlimentSessionDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IEPService_IngestContentsForFinalApprove_InputMessage">
    <wsdl:part name="parameters" element="tns:IngestContentsForFinalApprove" />
  </wsdl:message>
  <wsdl:message name="IEPService_IngestContentsForFinalApprove_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngestContentsForFinalApproveResponse" />
  </wsdl:message>
  <wsdl:message name="IEPService_CheckHealth_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckHealth" />
  </wsdl:message>
  <wsdl:message name="IEPService_CheckHealth_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckHealthResponse" />
  </wsdl:message>
  <wsdl:portType name="IEPService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IEPService/GetData" message="tns:IEPService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEPService/GetDataResponse" message="tns:IEPService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEParlimentSessionDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IEPService/GetEParlimentSessionDetails" message="tns:IEPService_GetEParlimentSessionDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEPService/GetEParlimentSessionDetailsResponse" message="tns:IEPService_GetEParlimentSessionDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEParlimentSessionDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IEPService/UpdateEParlimentSessionDetails" message="tns:IEPService_UpdateEParlimentSessionDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEPService/UpdateEParlimentSessionDetailsResponse" message="tns:IEPService_UpdateEParlimentSessionDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngestContentsForFinalApprove">
      <wsdl:input wsaw:Action="http://tempuri.org/IEPService/IngestContentsForFinalApprove" message="tns:IEPService_IngestContentsForFinalApprove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEPService/IngestContentsForFinalApproveResponse" message="tns:IEPService_IngestContentsForFinalApprove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckHealth">
      <wsdl:input wsaw:Action="http://tempuri.org/IEPService/CheckHealth" message="tns:IEPService_CheckHealth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEPService/CheckHealthResponse" message="tns:IEPService_CheckHealth_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEPService" type="tns:IEPService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IEPService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEParlimentSessionDetails">
      <soap:operation soapAction="http://tempuri.org/IEPService/GetEParlimentSessionDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEParlimentSessionDetails">
      <soap:operation soapAction="http://tempuri.org/IEPService/UpdateEParlimentSessionDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngestContentsForFinalApprove">
      <soap:operation soapAction="http://tempuri.org/IEPService/IngestContentsForFinalApprove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckHealth">
      <soap:operation soapAction="http://tempuri.org/IEPService/CheckHealth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EPService">
    <wsdl:port name="BasicHttpBinding_IEPService" binding="tns:BasicHttpBinding_IEPService">
      <soap:address location="http://localhost:10001/EPService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>